$font-titres: 'Shrikhand', serif;
$font-texte: 'Roboto', serif;
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$color-localisation: #EAEAEA;
$color-bouton-fonctionnement: #F6F6F6;
$color-background-footer: #353535;
$gradient-bouton-couleur: linear-gradient(0deg, $color-primaire, $color-secondaire);

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(450deg);
    }

    100% {
        transform: rotate(720deg);
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
}


@keyframes rise {
    0% {
        transform: translateY(300px);
        color: $color-primaire;
        opacity: 1;
    }

    75% {
        transform: translateY(-15px);
        opacity: 0.6;
    }

    90% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(-40px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
}


@keyframes showPage {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        z-index: 2;
    }
}


@mixin display__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bouton__couleur {
    color: white;
    background: $gradient-bouton-couleur;
    font-size: 1rem;
    font-family: $font-texte;
    font-weight: 500;
    border: none;
    border-radius: 1.563rem;
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: transform 300ms 100ms ease-in, opacity 300ms 100ms ease-in, filter 400ms ease-in-out;

    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
        filter: drop-shadow(11px 17px 22px rgba(0, 0, 0, 0.45));
    }
}

@mixin bouton__fonctionnement {
    display: flex;
    padding-left: 2.156rem;
    margin-left: 0.75rem;
    gap: 1.25rem;
    align-items: center;
    min-width: 20.156rem;
    max-width: 30.625rem;
    width: 100%;
    height: 4.524rem;
    font-size: 1rem;
    font-family: $font-texte;
    font-weight: 500;
    background-color: $color-bouton-fonctionnement;
    border: none;
    border-radius: 1.25rem;
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.15));
    transition: transform 300ms 100ms ease-in, opacity 300ms 100ms ease-in, filter 400ms ease-in-out;

    @media screen and (min-width: 1024px) {
        max-width: 30rem;
    }

    @media screen and (min-width: 1081px) {
        min-width: 20.156rem;
    }

    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
        filter: drop-shadow(11px 17px 22px rgba(0, 0, 0, 0.45));
    }
}

@mixin span__fonctionnement {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
    background-color: $color-primaire;
    font-family: $font-texte;
    font-weight: 500;
    font-size: 0.886rem;

}

@mixin card__resto {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 30.625rem;
    background-color: white;
    border-radius: 0.938rem;
    transition: transform 300ms 100ms ease-in, opacity 300ms 100ms ease-in, filter 400ms ease-in-out;

    @media screen and (min-width: 1024px) {
        min-width: 30rem;
    }

    @media screen and (min-width: 1081px) {
        min-width: 30.625rem;
    }

    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
        filter: drop-shadow(11px 17px 22px rgba(0, 0, 0, 0.45));
    }
}

@mixin card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

@mixin bouton__nouveau {
    position: absolute;
    font-family: $font-texte;
    font-size: 0.875rem;
    color: #008766;
    line-height: 1.813rem;
    text-align: center;
    background-color: $color-tertiaire;
    width: 5rem;
    height: 1.813rem;
    z-index: 1;
    border-radius: 0.125rem;
    top: 0.813rem;
    right: 1.25rem;
    bottom: 8.25rem;
    border: none;
}