@use "root" as *;


//// Haut de page ///
.headPage {
    width: 100%;

    &__banner {
        @include display__center;
        position: relative;
        height: 3.938rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 768px) {
            height: 6.021rem;
        }

        &--fleche {
            position: absolute;
            left: 1.438rem;
            font-size: 1.063rem;
            color: $color-gris-sombre;
            text-decoration: none;

            &:hover {
                transform: scale(1.05);
                opacity: 0.8;
                filter: drop-shadow(11px 17px 22px rgba(0, 0, 0, 0.45));
            }
        }

        &--logo {
            &-grand {
                display: none;

                @media screen and (min-width: 768px) {
                    display: inline;
                    width: 200px;
                }
            }

            &-petit {
                width: 162px;

                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
    }

    &__image {
        height: 17.188rem;
        position: relative;
        z-index: 1;

        @media screen and (min-width: 768px) {
            height: 23.938rem;
        }

        &--photo {
            @include card__image;
            z-index: 1;

            &-la-palette,
            &-la-note {
                object-position: center 60%;
            }

            &-a-la,
            &-le-delice {
                object-position: center 65%;
            }
        }
    }
}

/// Main ///
.main__container {
    margin: -3.438rem auto 0;
    padding: 2rem 1.063rem $radius-border-resto;
    background-color: $color-gris-clair;
    border-radius: $radius-border-resto $radius-border-resto 0 0;
    max-width: 65.938rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

//// Titre page restaurant ///
.titreResto {
    @include display__center;
    gap: 1.5rem;
    margin-bottom: $radius-border-resto;

    & h1 {
        font: 400 1.75rem $font-titres;
        margin: 0;
    }

    &__favori {
        color: #101010;
        display: flex;

        &-imageContainer {
            position: relative;

            & i {
                font-size: 1.375rem;
                transition: 0.7s ease-in-out;

                &:hover {
                    opacity: 0;
                }
            }
        }

        &-imageContenue {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            & i {
                @include background_i;
            }
        }

    }
}


/// Menu ///
.menuResto {

    max-width: 38.062rem;
    margin: 0 auto $radius-border-resto;

    h2 {
        transform: translateX(1000px);
        animation: appear_tete 1s ease-out forwards;
    }

    &__titre {
        font: 300 1rem $font-texte;
        text-transform: uppercase;
        position: relative;
        margin: 0 auto;

        &--underline {
            border-bottom: 0.188rem solid $color-tertiaire;
            padding-bottom: 0.438rem;
        }
    }

    &__liste {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        list-style-type: none;
        padding: 0.75rem 0 0;
        gap: 0.656rem;
        width: 100%;

        li {
            transform: translateX(1000px);
            animation: appear 1.5s cubic-bezier(.31, .54, 0, 1.19) forwards;

            /// Pour faire apparaître les élements avec un délai de 0.2s entre eux ///
            &:nth-child(1) {
                animation-delay: 0.5s;
            }

            &:nth-child(2) {
                animation-delay: 0.7s;
            }

            &:nth-child(3) {
                animation-delay: 0.9s;
            }

            &:nth-child(4) {
                animation-delay: 1.1s;
            }
        }


        &--element {
            display: flex;
            height: 2.625rem;
            max-width: 100%;
            padding: 0.844rem $radius-border-buttons;
            overflow: hidden;
            position: relative;
            border-radius: $radius-border-buttons;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease-in-out;

            &:hover {

                .menuResto__liste--element-barre {
                    transform: translateX(0);
                }

                .menuResto__liste--element-container {
                    width: calc(100% - 3.688rem);
                    cursor: pointer;
                }

                .menuResto__liste--element-contenu {
                    width: calc(100% - 5.688rem);
                }

                .menuResto__liste--element-icone {
                    transform: rotate(0deg);
                }
            }

            &-barre {
                @include display__center;
                position: absolute;
                width: 3.688rem;
                height: 4.313rem;
                background-color: $color-tertiaire;
                top: 0;
                right: 0;
                color: white;
                font-size: 1.25rem;
                overflow: hidden;
                transform: translateX(3.688rem);
                transition: all 0.5s ease-in-out;
            }

            &-container {
                display: flex;
                width: 100%;
                position: relative;
                justify-content: space-between;
                align-items: center;
                transition: all 0.5s ease-in-out;

                &-prix {
                    font: 700 $radius-border-buttons $font-texte;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
            }

            &-contenu {

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.313rem;
                animation: text_reduit 1.5s cubic-bezier(.31, .54, 0, 1.19) forwards;

                @media screen and (max-width:361px) {
                    max-width: 16.875rem;
                }

                &-text {
                    font: 500 1.125rem $font-texte;
                    @include textes-menu;
                }

                &-sousText {
                    font: 300 $radius-border-buttons $font-texte;
                    @include textes-menu;
                }
            }

            &-icone {
                transform: rotate(270deg);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}