@use "root" as *;

///// Général /////
body {
    margin: 0;
}

h2,
h3,
p {
    font-family: $font-texte;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1.125rem;
}


///// Header /////
.headPage {

    &__logo {
        @include display__center;
        position: relative;
        height: 63px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

        &--grand {
            display: none;

            @media screen and (min-width: 768px) {
                display: inline;
                width: 200px;
            }
        }

        &--petit {
            width: 162px;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }

    &__localisation {
        @include display__center;
        height: 50px;
        background-color: $color-localisation;
        font-family: $font-texte;
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        @media screen and (min-width: 768px) {
            box-shadow: none;
        }

        & i {
            margin-right: 17px;
            color: $color-background-footer;
        }

        & input {
            border: none;
            background: none;
            font-family: $font-texte;
            font-size: 1rem;
            font-weight: 500;
            width: 6.813rem;

            &::placeholder {
                font-family: $font-texte;
                font-size: 1rem;
                font-weight: 500;
                color: $color-background-footer;
            }
        }
    }
}


///// Titre /////
.titreFonctionnementWrapper {
    margin: 0 1.25rem;

    @media screen and (min-width: 1082px) {
        margin: 0 auto;
        max-width: 67.5rem;
    }
}

.titrePage {
    margin: 2.438rem 0 6.563rem;
    display: flex;
    flex-direction: column;

    &__titre {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 0 1.688rem;

        & h2 {
            min-width: 17.188rem;
            min-height: 4.25rem;
            margin: auto;
        }

        & p {
            min-width: 19.688rem;
            min-height: 2.875rem;
            font-size: 1.125rem;
            margin: auto;
        }
    }

    &__explorer {
        display: flex;
        justify-content: center;

        &--bouton {
            width: 13.625rem;
            height: 3.125rem;
            @include bouton__couleur;
        }
    }
}


///// Fonctionnement /////
.fonctionnement {
    margin-bottom: 7.625rem;

    &__titre {
        margin-bottom: 1.625rem;
    }

    &__explication {
        display: flex;
        flex-direction: column;
        gap: 1.563rem;

        @media screen and (min-width: 1082px) {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
        }

        &--part {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-width: 20.938rem;
            position: relative;

            &-bouton {
                @include bouton__fonctionnement;

                & .fa-solid {
                    color: #7E7E7E;
                }

                & .fa-store {
                    color: $color-primaire;
                }
            }

            &-span {
                @include span__fonctionnement;
            }
        }
    }
}


///// Restaurants /////
.resto {
    display: flex;
    flex-direction: column;
    max-width: 30.625rem;
    min-width: 21.188rem;
    margin: 0 1.063rem 4.125rem;
    position: relative;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    @media screen and (min-width: 1024px) {
        max-width: 67.5rem;
    }

    @media screen and (min-width: 1082px) {
        margin: 0 auto 4.125rem;
    }


    &__titre {
        margin: 0 0 1rem 0.188rem;
    }

    &__liste {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        & a {
            text-decoration: none;
        }

        &--ligne {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            gap: 1.875rem;

            @media screen and (min-width: 1024px) {
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                gap: 0;
            }
        }

        &--card {
            @include card__resto;
        }

        &--image {
            height: 11rem;
            overflow: hidden;
            max-width: 100%;
            position: relative;
            border-radius: 0.938rem 0.938rem 0 0;

            &-palette {
                @include card__image;
                object-position: center 75%;
            }

            &-note {
                @include card__image;
                object-position: center 60%;
            }

            &-ala {
                @include card__image;
                object-position: center 80%;
            }

            &-delice {
                @include card__image;
                object-position: center 80%;
            }
        }

        &--nouveau {
            @include bouton__nouveau;
        }

        &--description {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            height: 2.813rem;
        }

        &--nomEtLieu {
            font-family: $font-texte;
            color: black;

            & h3 {
                line-height: 1.25rem;
                margin: 0 0 0.313rem 0;
            }

            & p {
                font-size: 1.063rem;
                font-weight: 300;
                line-height: 1.5rem;
                margin: 0;
            }
        }

        &--favori {
            color: #101010;
            display: flex;

            &-imageContainer {
                position: relative;
                padding-right: 0.563rem;
                padding-bottom: 1.063rem;

                & i {
                    font-size: 1.375rem;
                    transition: 0.7s ease-in-out;

                    &:hover {
                        opacity: 0;
                    }
                }
            }

            &-imageContenue {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                & i {
                    font-size: 1.375rem;
                    background: $gradient-bouton-couleur;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 0;
                    transition: 0.7s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

        }
    }
}

///// Footer /////
.footer__wrapper {
    background-color: $color-background-footer;
    color: white;
    padding: 1.563rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        gap: 5.313rem;
    }
}

.footer__titre {
    & h3 {
        font-family: $font-titres;
        font-weight: 500;
        margin: 0;
    }
}

.footer__contenu {
    display: flex;
    flex-direction: column;
    font-family: $font-texte;
    gap: 0.438rem;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 2.5rem;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & i {
        font-size: 0.813rem;
        width: 0.75rem;
    }

    &--ligne {
        display: flex;
        flex-direction: column;
        gap: 0.438rem;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            gap: 1rem;
        }
    }

    &--article {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.688rem;
    }
}

//// Animation ////
.la-page {
    animation: showPage 3.5s ease-in-out;
}

.wave {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 10;
        animation: fadeOut ease-in-out 3.5s forwards;
    }

    &__text {
        display: flex;

        & span {
            display: inline-block;
            font-size: 1.875rem;
            font-family: $font-titres;
            color: white;
            opacity: 0;
            transform: translateY(300px);
            animation: rise 3.5s forwards;

            &:nth-child(1) {
                animation-delay: 0.1s;
            }

            &:nth-child(2) {
                animation-delay: 0.2s;
            }

            &:nth-child(3) {
                animation-delay: 0.3s;
            }

            &:nth-child(4) {
                animation-delay: 0.4s;
            }

            &:nth-child(5) {
                animation-delay: 0.5s;
            }

            &:nth-child(6) {
                animation-delay: 0.6s;
            }

            &:nth-child(7) {
                animation-delay: 0.7s;
            }

            &:nth-child(8) {
                animation-delay: 0.8s;
            }
        }
    }
}