/* =====================================================
   VARIABLES GLOBALES
   ===================================================== */

// Variables globales pour couleurs, polices et espacements
$font-titres: 'Shrikhand', serif;
$font-texte: 'Roboto', serif;
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$color-blanc: #EAEAEA;
$color-gris-clair: #F6F6F6;
$color-gris-sombre: #353535;
$gradient-bouton-couleur: linear-gradient(0deg, $color-primaire, $color-secondaire);
$radius-border-resto: 2.5rem;
$radius-border-buttons: 0.938rem;